---
- hosts: controllers
  remote_user: "{{remote_user}}"
  become_method: sudo
  serial: 1
  gather_facts: False
  pre_tasks:
  - name: Install python for Ansible
    raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
    register: test
    become: yes
    changed_when: test.stdout
  - setup:
  tasks:
  - import_role:
      name: security
    become: yes
    tags: ["prepare","security"]
  - import_role:
      name: "nickjj.docker"
    tags: ["prepare","docker"]
    become: yes
  - import_role:
      name: geerlingguy.nodejs
    become: yes
    tags: ["prepare","node"]
  - import_role:
      name: common
    become: yes
    tags: ["prepare","common"]
  - name: copy code
    become: no
    synchronize:
      src: ../../../
      dest: "{{ remote_folder }}"
      checksum: yes
      rsync_opts:
        - "--exclude=runner/node_modules"
        - "--exclude=tests/node_modules"
        - "--exclude=tests/browser/node_modules"
        - "--exclude=tests/fixtures/*"
  - import_role:
      name: redeploy
    become: yes
    tags: ["redeploy"]
