version: 2
jobs:
  build:
    working_directory: ~/ipfs
    docker:
      - image: circleci/node:dubnium-browsers
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@6'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./runner/node_modules
            - ./tests/node_modules
      - run:
          name: test
          command: npm test