---
- name: setup Action User
  user:
    generate_ssh_key: yes
    name: "{{ action_user }}"
    password: "{{ action_user_pw | password_hash('sha512') }}"
    group: "{{ action_user_group }}"
    shell: /bin/bash
- name: install ansible
  pip:
    name: ansible